*{
    box-sizing: border-box;
}
.informacion_fotos{
    background: var(--blanco);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    padding: 30px 5px 30px 5px;
}

.texto_fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    width: 50%;
}

.titulo_fotos{
    font-family: var(--titulos);
    font-size: 45px;
    color: var(--negro-gris);
    margin-bottom: 10px;
}

.parrafo_fotos{
    font-family: var(--parrafos);
    color: var(--gris-oscuro);
    font-size: 15px;
    text-align: justify;
    line-height: 1.2;
}

.container_fotos{
    background: var(--negro-gris);
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

.imagen{
    width: 100%;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-contenido {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: relative;
}

.cerrar {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}


#anterior,
#siguiente {
    width: 100px;
    height: 100px;
    background: transparent;
    color: var(--blanco);
    border: none;
    font-size: 80px;
    font-family: var(--titulo2);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#anterior:hover, #siguiente:hover{
    color: var(--naranja);
    font-size: 85px;
}

#anterior {
    left: 75px;
}

#siguiente {
    right: 75px;
}


@media (max-width: 800px) {
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px) {
    .informacion_fotos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto_fotos{
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .titulo_fotos {
        font-size: 30px;
    }

    .parrafo_fotos {
        font-size: 12px;
    }

    .column{
        flex: 100%;
    }
    
    #anterior,
    #siguiente{
        width: 30px;
        height: 30px;
        font-size: 50px;
    }

    #anterior:hover, #siguiente:hover{
        font-size: 50px;
    }

    #anterior {
        left: 0;
    }
    
    #siguiente {
        right: 0;
    }
    
}