:root {
    --blanco: #FFFCF2;
    --gris-claro: #CCC5B9;
    --gris-oscuro: #403D39;
    --negro-gris: #252422;
    --naranja: #EB5E28;

    --titulos: 'Cinzel', serif;
    --parrafos: 'Montserrat', sans-serif;
    --titulo2: 'Bebas Neue', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--negro-gris);
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.container_menu {
    position: relative;
    z-index: 2;
}

.menu {
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 2px 0 2px;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: var(--blanco);
    margin-right: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--parrafos);
}

.menu__link:hover {
    text-decoration: none;
    color: var(--naranja);
    font-size: 22px;
    transition: 0.5s;
}

.container {
    position: relative;
    z-index: 2;
}

.container_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--blanco);
    height: 80vh;
}

.texto_central {
    font-family: var(--titulos);
    font-size: 50px;
    white-space: pre-line;
    font-weight: 400;
}

.texto_central strong {
    font-weight: bold;
}

.texto_central_parrafo {
    font-family: var(--parrafos);
    font-size: 25px;
}

.container_link {
    margin-top: 45px;
}

.texto-item {
    list-style: none;
}

.texto_link {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    font-family: var(--parrafos);
}

.texto_link:hover {
    text-decoration: underline;
    font-size: 30px;
    color: var(--naranja);
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    video {
        width: 100%; /* Cambiado de 150% a 100% */
        height: 100%; /* Cambiado de 150% a 100% */
    }

    .container_menu {
        width: 100%;
    }

    .menu {
        width: 100%;
        align-items: center;
    }

    .menu__lista {
        display: flex;
        justify-content: space-around;
    }

    .menu__link {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 18px;
        text-align: center;
    }

    .texto_central {
        font-size: 25px;
    }

    .texto_central_parrafo {
        font-size: 15px;
    }

    .texto_link {
        font-size: 15px;
    }
}
