.informacion_pieza{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.texto_pieza{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    margin: 30px;
}
