
:root{
    --blanco: #FFFCF2;
    --gris-claro: #CCC5B9;
    --gris-oscuro: #403D39;
    --negro-gris: #252422;
    --naranja: #EB5E28;

    --titulos: 'Cinzel', serif;
    --parrafos: 'Montserrat', sans-serif;
    --titulo2: 'Bebas Neue', sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--negro-gris) url(../img/pattern_video.png);
}

/*estilos menu*/

.container_menu{
    position: relative;
}

.menu{
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 2px 0 2px;
}

.logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__link{
    color: var(--blanco);
    margin-right: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--parrafos);
}

.menu__link:hover{
    text-decoration: none;
    color: var(--naranja);
    font-size: 22px;
    transition: 0.5s;
}

.container_videos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*estilos texto central*/

.container_informacion{
    display: flex;
    justify-content: space-around;
    padding: 10px 5px 40px 5px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    width: 50%;
    margin-left: 40px;
}

.titulo{
    font-family: var(--titulos);
    font-size: 45px;
    color: var(--blanco);
    margin-bottom: 10px;
}

.parrafo{
    font-family: var(--parrafos);
    color: var(--blanco);
    font-size: 15px;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 1.2;
}

.btn_videos{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--naranja);
    cursor: pointer;
}

.link_btn{
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--titulo2);
    font-size: 20px;
}

.btn_videos:hover{
    background: rgb(137, 8, 8);
}

.link_btn:hover{
    font-size: 25px;
}

.video_principal{
    width: 560px;
    height: 300px;
    box-shadow: 0 2px 5px 2px #000000;
}

/*estilos videos*/

.videos_contenido{
    width: 100%;
    height: 100%;
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    box-shadow: 0 5px 50px 10px #000000;
}

.videos_cortos{
    width: 480px;
    height: 250px;
    padding: 10px 10px;
    box-shadow: 0 2px 5px 2px #000000;
}



@media only screen and (max-width: 767px) {
    body, html {
        overflow-x: hidden;
    }

    .container_menu {
        width: 100%;
    }

    .menu {
        width: 100%;
        align-items: center;
    }

    .menu__lista {
        display: flex;
        justify-content: space-around;
    }

    .menu__link {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 18px;
        text-align: center;
    }

    .container_informacion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .texto{
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .video_principal{
        width: 100%;
    }

    .titulo {
        font-size: 30px;
    }

    .parrafo {
        font-size: 12px;
    }

    .btn_videos {
        padding: 6px 16px;
        margin-bottom: 10px;
    }

    .link_btn {
        font-size: 20px;
    }

    .videos{
        grid-template-columns: 1fr;
        margin: 5px;
    }

    .videos_cortos {
        width: 100%;
        padding: 0;
    }
}