:root {
    --blanco: #FFFCF2;
    --gris-claro: #CCC5B9;
    --gris-oscuro: #403D39;
    --negro-gris: #252422;
    --naranja: #EB5E28;

    --titulos: "Open Sans", sans-serif;
    --parrafos: "Open Sans", sans-serif;
    --titulo2: "Bebas Neue", sans-serif;
}

@keyframes resize {
    0% {
        font-size: 30px;
    }
    50% {
        font-size: 35px;
    }
    100% {
        font-size: 30px;
    }
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(../assets/img/background.png);
	object-fit: cover;
}


.menu {
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative; /* Necesario para que el submenú esté posicionado correctamente */
}

.menu__link {
    color: var(--blanco);
    margin-right: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--parrafos);
}

.menu__link:hover {
    text-decoration: none;
    color: var(--naranja);
    transition: 0.5s;
}

.sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    list-style: none;
}

.menu__item:hover .sub_menu {
    display: block;
}

.submenu__item {
    background-color: hsla(17, 83%, 54%, 0.772);
    margin-bottom: 5px;
    margin-right: 6em;
    padding: 10px;
    text-align: center;
}

.submenu__link {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--parrafos);
}

.submenu__item:hover, .submenu__link:hover {
    background-color: var(--naranja);
    color: var(--negro-gris);
}



.container_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--blanco);
    margin: 5rem 0;
}

.texto_central {
    font-family: var(--titulos);
    font-size: 50px;
    white-space: pre-line;
    font-weight: 400;
	line-height: 1.2
}

.nombre {
    font-weight: bold;
	color: var(--naranja)
}

.texto_central_parrafo {
	margin-top: 5px;
    font-family: var(--parrafos);
    font-size: 25px;
	font-weight: lighter;
}

.container_link {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.texto-item {
    list-style: none;
}

.texto_link {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--parrafos);
	animation: resize 2s infinite;
    margin: 0 20px;

}

.texto_link:hover {
    font-size: 30px;
    color: var(--naranja);
    transition: 0.5s;
}

/*estilo tarjetas*/

.container_tarjetas {
    display: grid;
    place-items: center;
}

.card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.card__article {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.card__img {
    width: 328px;
    border-radius: 1.5rem;
}

.card__data {
    width: 250px;
    background-color: var(--blanco);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}


.card__title {
    font-family: var(--titulos);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--negro-gris);
    margin-bottom: .75rem;
}

.card__button {
    font-family: var(--parrafos);
    text-decoration: none;
    font-size: .813rem;
    font-weight: 500;
    color: var(--naranja);
}

.card__button:hover {
    text-decoration: underline;
}

  /* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

  /* Card animation */
 @keyframes show-data {
    50% {
    transform: translateY(-10rem);
    }
    100% {
    transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
    overflow: initial;
    }
}

@keyframes remove-data {
    0% {
    transform: translateY(-7rem);
    }
    50% {
    transform: translateY(-10rem);
    }
    100% {
    transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
    overflow: initial;
    pointer-events: none;
    }
    50% {
    overflow: hidden;
    }
}


/*estilo footer*/
.footer {
    position: relative;
    width: 100%;
    background: #111111;
    min-height: 100px;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.logo-footer {
    max-width: 300px;
    margin: 0 5rem;
}

.logo-footer img {
    width: 200px;
}

.redes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes h2 {
    font-family: var(--titulos);
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
    font-size: 25px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 50px;
    display: inline-block;
    margin: 0 20px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}



@media screen and (max-width: 768px) {

    .container_menu {
        width: 100%;
    }

    .menu {
        width: 100%;
        align-items: center;
    }

    .menu__lista {
        display: flex;
        justify-content: space-around;
    }

    .menu__link {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 18px;
        text-align: center;
    }
	
	.container{
		padding: 10px;
	}

	.nombre{
		white-space: nowrap;
	}
	
    .texto_central {
        font-size: 25px;
    }

    .texto_central_parrafo {
        font-size: 15px;
    }

    .texto_link {
        font-size: 20px;
		animation: none;
    }
	
	.texto_link:hover {
		font-size: 25px;
	}

    .card__container {
        grid-template-columns: 1fr;
        column-gap: 1.5rem;
    }

    .card__img {
        width: 250px;
    }

    .card__data {
        width: 200px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-footer {
        margin-bottom: 2rem;
    }

    .redes h2 {
        font-size: 17px;
    }

    .icon {
        margin: 10px;
    }
}
