.proyectos{
	display: flex;
}
.menu_productos {
	display: flex;
	width: 50%;
	justify-content: center;
    align-items: center;
}

.container_items {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item_productos {
    list-style: none;
    margin-top: 40px;
}

.link_productos {
    color: white;
    text-decoration: none;
    font-size: 65px;
	font-weight: bold;
    font-family: var(--titulos);
}

.link_productos:hover {
    color: var(--naranja);
    text-underline-offset: 8px;
    font-size: 75px;
    transition: 0.5s;
}

.container_imagen{
    height: 650px;
    object-fit: cover;
    position: fixed;
    bottom: 0;
    right: 0;
}

.img_producto{
    width: 850px;
}

@media only screen and (max-width: 600px) {
    .menu_productos {
        padding-left: 20px;
        text-align: center;
    }
	
	.proyectos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	
	.menu_productos {
		width: 100%;
	}
	
	.container_items{
		text-align: center;
		justify-content: space-between;	
	}

    .item_productos {
       margin: 30px 0 10px 0 ; 
    }

    .link_productos {
        font-size: 20px;
    }

    .link_productos:hover{
        font-size: 20px;
    }

    .container_imagen {
        display: none;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.menu_productos {
		width: 100%;
	}
	
    .container_imagen{
        display: block;
        width: 100%;
        opacity: 0.2; 
		right: 0;
    }
}