.container_sobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_sobre{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding-left: 3rem;
}

.titulo_sobre{
    font-size: 30px;
    font-family: var(--titulos);
    font-weight: bold;
    color: var(--blanco);
    margin-bottom: 20px;
}

.parrafo_sobre{
    font-family: var(--parrafos);
    color: var(--blanco);
    white-space: pre-line;
    line-height: 1.2;
}

.container-app{
    display: flex;
    background: var(--blanco);
    border-radius: 15px;
    flex-direction: column;
    padding: 10px 30px;
    margin: 40px 0;
}

.texto-app{
    color: var(--naranja);
    font-family: var(--titulos);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.img-apps{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app{
    width: 50px;
    margin: 5px 15px;
}

.btn{
    margin-top: 30px;
}

.hojadevida{
    color: white;
    background: var(--naranja);
    font-family: var(--titulos);
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 25px;
    text-decoration: none;
}

.imagen{
    object-fit: cover;
}

.imge{
    width: 800px;
}

@media only screen and (max-width: 600px) {
    .container_sobre{
        width: 100%;
        padding: 100px 10px 10px 10px; 
        box-sizing: border-box; 
        text-align: center;
    }

    .titulo_sobre{
        font-size: 24px; 
        margin-bottom: 5px; 
    }

    .parrafo_sobre{
        font-size: 14px;
        line-height: 1.2;
    }

    .imge {
        display: none;
    }
}


