:root{
    --blanco: #FFFCF2;
    --gris-claro: #CCC5B9;
    --gris-oscuro: #403D39;
    --negro-gris: #252422;
    --naranja: #EB5E28;

    --titulos: "Open Sans", sans-serif;
    --parrafos: "Open Sans", sans-serif;
    --titulo2: "Bebas Neue", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: var(--negro-gris);
}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
ul{
    list-style: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: white;
}
/* Banner */
.background--banner{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background-color: var(--gris-oscuro);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%,rgba(0, 0, 0, .9) 1%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
}

/* Menu */
.container_menu{
    position: relative;
    padding-top: 50px;
}

.menu {
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative; 
}

.menu__link {
    color: var(--blanco);
    margin-right: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--parrafos);
}

.menu__link:hover {
    text-decoration: none;
    color: var(--naranja);
    transition: 0.5s;
}

.sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    list-style: none;
}

.menu__item:hover .sub_menu {
    display: block;
}

.submenu__item {
    background-color: hsla(17, 83%, 54%, 0.772);
    margin-bottom: 5px;
    margin-right: 6em;
    padding: 10px;
    text-align: center;
}

.submenu__link {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--parrafos);
}

.submenu__item:hover, .submenu__link:hover {
    background-color: var(--naranja);
    color: var(--negro-gris);
}




/* imagotipo */
.imagotipo{
    flex: 1;
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    gap: 15px;
}

.text--informativo{
    color: white;
    margin-bottom: 4em;
}

.text--informativo h1{
    font-family: var(--titulos);
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 0.4em;
}

.text--informativo p{
    font-family: var(--parrafos);
    line-height: 1.25em;
    max-width: 60%;
    margin-bottom: 1.25em;
}

.text--informativo button{
    font-family: var(--titulos);
    color: var(--naranja);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    padding: 0.55em 1.25em;
}

.text--informativo button:hover{
    background-color: hsla(39, 100%, 50%, 0.529);
    color: var(--blanco);
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
    margin-top: 3rem;
}

.contenedor-titulo-controles h3 {
	color: var(--blanco);
    font-family: var(--titulos);
    font-weight: bold;
	font-size: 25px;
}



/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin: 20px 30px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
    margin-bottom: 5rem;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 30%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    margin-right: 5px;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.1);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}



/*modal video*/

.video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.video-modal.hidden {
    display: none;
}

.video-container {
    position: relative;
    background: #000;
    padding: 10px;
    border-radius: 10px;
}

#close-video {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--naranja);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: var(--titulos);
    font-weight: bolder;
}

/*estilo footer*/
.footer {
    position: relative;
    width: 100%;
    background: #111111;
    min-height: 100px;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.logo-footer {
    max-width: 300px;
    margin: 0 5rem;
}

.logo-footer img {
    width: 200px;
}

.redes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes h2 {
    font-family: var(--titulos);
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
    font-size: 25px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 50px;
    display: inline-block;
    margin: 0 20px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}


/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 576px) {


    .menu__lista {
        display: flex;
        justify-content: space-around;
    }

    .menu__link {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 18px;
        text-align: center;
    }

    .background--banner {
        background: url(/src/assets/img/caratulas/fondo\ web\ mobile.jpg) no-repeat center/cover;
    }

    .video {
        display: none;
    }

    .text--informativo h1 {
        font-size: 28px;
    }

    .text--informativo p {
        max-width: 100%;
        font-size: 14px;
    }

    .text--informativo button {
        font-size: 16px;
        padding: 0.4em 1em;
    }

    .peliculas-recomendadas {
        margin: 10px 20px;
    }

    .contenedor-principal .carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .pelicula {
        flex: 0 0 80%;
        margin-right: 10px;
    }

    .video-iframe {
        width: 360px;
        height: 202px;
    }

    #close-video {
        top: 0;
        right: 25px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-footer {
        margin-bottom: 2rem;
    }

    .redes h2 {
        font-size: 17px;
    }

    .icon {
        margin: 10px;
    }
}

/* Ajustes para pantallas medianas (tabletas) */
@media (min-width: 577px) and (max-width: 768px) {
    .menu__link {
        font-size: 18px;
    }

    .text--informativo h1 {
        font-size: 32px;
    }

    .text--informativo p {
        max-width: 80%;
        font-size: 16px;
    }

    .text--informativo button {
        font-size: 18px;
        padding: 0.5em 1.2em;
    }

    .contenedor-principal .carousel {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 10px;
    }

    .pelicula {
        margin-right: 0;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-footer {
        margin-bottom: 2rem;
    }

    .redes h2 {
        font-size: 17px;
    }

    .icon {
        margin: 10px;
    }
}

