
:root{
    --blanco: #FFFCF2;
    --gris-claro: #CCC5B9;
    --gris-oscuro: #403D39;
    --negro-gris: #252422;
    --naranja: #EB5E28;

    --titulos: "Open Sans", sans-serif;
    --parrafos: "Open Sans", sans-serif;
    --titulo2: "Bebas Neue", sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
}

/*estilos menu*/
.container_menu{
    position: relative;
}

.menu {
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative; 
}

.menu__link {
    color: var(--negro-gris);
    margin-right: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--parrafos);
}

.menu__link:hover {
    text-decoration: none;
    color: var(--naranja);
    transition: 0.5s;
}

.sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    list-style: none;
}

.menu__item:hover .sub_menu {
    display: block;
}

.submenu__item {
    background-color: hsla(17, 83%, 54%, 0.772);
    margin-bottom: 5px;
    margin-right: 6em;
    padding: 10px;
    text-align: center;
}

.submenu__link {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--parrafos);
}

.submenu__item:hover, .submenu__link:hover {
    background-color: var(--naranja);
    color: var(--negro-gris);
}

/*estilos texto central*/

.container_informacion{
    display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.texto{
    display: flex;
	font-family: var(--titulo2);
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 85%;
}

.titulo{
    font-family: var(--titulos);
    font-size: 55px;
	font-weight: bold;
    color: var(--naranja);
    margin-bottom: 30px;
}

.parrafo{
    font-family: var(--parrafos);
    color: var(--gris-oscuro);
    font-size: 15px;
    margin-bottom: 50px;
    text-align: justify;
    line-height: 1.3;
}

.container_iconos{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 20px 0 50px 0;
}

.iconos_cuadro{
	display: flex;
	text-align: center;
	align-items: center;
}

.iconos_cuadro img{
	margin-right: 5px;
}

.iconos_cuadro p{
	font-family: var(--parrafos);
    color: var(--naranja);
    font-size: 15px;
	font-weight: bold;
}


@media screen and (max-width:600px){
	.container_iconos{
		flex-wrap: wrap;
	}
	
	.iconos_cuadro {
		margin: 15px;
	}
	
	.text {
		font-size: 75px;
		animation: none;
	}
}

